.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
}
.cart-container {
  background-color: rgb(255, 245, 198)
}